@import "tailwindcss";

/* No Tailwind v4, o tema é definido dentro do CSS com @theme */
@theme {
  --color-background: #080808;
  --color-accent: #00ffc8;
}

/* Suas classes customizadas entram aqui */
@utility text-stroke {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  color: transparent;
}

@utility transition-tegma {
  transition-all: all;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

body {
  background-color: var(--color-background);
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
html {
  scroll-behavior: smooth; /* Faz o clique no menu deslizar suavemente */
}

/* Esconder a barra de scroll para um visual mais limpo (opcional) */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #080808;
}
::-webkit-scrollbar-thumb {
  background: #00ffc8;
  border-radius: 10px;
}